body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.dropdown-container {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-icon,
.dropdown-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.dropdown-icon:hover,
.dropdown-button:hover {
  color: #007bff;
}

.routes-container {
  display: block;
}

.hidden {
  display: none;
}

.sidebar {
  position: fixed;
  top: 15%;
  bottom: 5%;
  /* width: 250px;  */
  width: 300px; /* [292402Tree] change width sidebar */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow-y: auto;
}

.sidebar-content {
  padding: 10px;
}

.sidebar-hidden {
  width: 0;
}

.driver-section,
.order-section {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

td > a {
  text-decoration: none;
  color: #0b0b0b;
}

td > a:hover {
  text-decoration: none;
  color: blue;
}

td > a.selected {
  text-decoration: none;
  color: red;
}

.marker {
  background-image: url("../images/o1.png");
}

.marker1 {
  background-image: url("../images/icon.png");
}

.marker2 {
  background-image: url("../images/1.png");
}

.marker3 {
  background-image: url("../images/delivery.png");
}

.marker4 {
  width: 0px;
  height: 0px;
}

.mapboxgl-marker {
  background-size: cover;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.red-text {
  color: red;
}

.logout-link {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red; /* Adjust color as needed */
  text-decoration: none; /* Remove underline */
  font-weight: bold;
}

/* [292402Tree] add some css popup */
.btn-assign {
  position: relative;
  /* width: 200px; */
}
.assign-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid gray;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.assign-popup-container, .form-update-order {
  width: 30%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 999;
}


/* Điều chỉnh cho điện thoại */
@media (max-width: 767px) {
  .assign-popup-container,
  .form-update-order {
    width: 70%;
  }
}

.assign-popup select {
  margin-right: 10px;
}

.assign-popup button {
  float: right;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  border: 1px solid black;
  padding: 5px;
}

.btn-save-update-order{
  float: right;
}

@media (max-width: 576px) {
    .routes-container {
        width: 100%; 
        max-width: 80vw;
        max-height: 80vw;
        overflow-y: auto;
    }
}
