<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- [092116HG] [Dispatch] Make Up Dispatch Map -->
    <meta name="theme-color" content="#00a4eb" />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/admin.css" />
    <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Driver Map</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script
      src="https://js.sentry-cdn.com/9c5feb5b248b49f79a585804c259febc.min.js"
      crossorigin="anonymous"
    ></script>

    <!-- [092120HG] [Dispatch] Make Up Dispatch Map -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/web-socket-js/1.0.0/web_socket.min.js"
      integrity="sha512-jtr9/t8rtBf1Sv832XjG1kAtUECQCqFnTAJWccL8CSC82VGzkPPih8rjtOfiiRKgqLXpLA1H/uQ/nq2bkHGWTQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-native-websocket@3"></script>
  </head>
  <body>
    <div id="app">
      <div id="map"></div>
      <div class="dropdown-container">
        <span class="dropdown-icon" @click="toggleSidebar">&#9776;</span>
        <button class="dropdown-button" @click="toggleRoutes">
          {{ showRoutes ? 'Hide Routes' : 'Show Routes' }}
        </button>
        <div
          id="instructions"
          class="routes-container w3-animate-opacity hidden"
        >
          <h4>You don't have any routes yet</h4>
        </div>
      </div>
      <div id="mySidebar" class="sidebar w3-animate-left">
        <div class="sidebar-content">
          <div class="driver-section" v-if="role === 'admin'">
            <table>
              <thead>
                <tr>
                  <th>Driver</th>
                  <th>Hide</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="driver in drivers" :key="driver.id">
                  <td>
                    <a
                      :class="'driver_' + driver.username"
                      class="dr"
                      href="#"
                      @click="toggleDriverColor(driver)"
                    >
                      {{ driver.username }}
                    </a>
                  </td>
                  <td>
                    <input
                      type="checkbox"
                      v-model="driver.isHidden"
                      @change="toggleMarkerVisibility(driver)"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="driver-section" v-else-if="role === 'driver'">
            <h4 style="background-color: #ddd; padding: 4px">
              Driver Information
            </h4>
            <p>Username: {{ driver.username }}</p>
            <p>Email: {{ driver.email }}</p>
            <p>Status: {{ driver.status }}</p>
            <p>Phone: {{ driver.phoneNo }}</p>
            <!-- [032403Tree] Add button update current location -->
            <button @click="updateDriverLocation(driver)">
              Update location
            </button>
            <input type="text" v-model="currentAddress" />
            <button @click="updateDriverLocationByAddress(driver)">
              Update by address
            </button>
          </div>
          <div class="order-section" v-if="role === 'admin'">
            <table>
              <thead>
                <tr>
                  <th>Hide</th>
                  <th>Address</th>
                  <th>Route</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="order in orders" :key="order.id">
                  <td>
                    <input
                      type="checkbox"
                      v-model="order.isHidden"
                      @change=" toggleMarkerOrderVisibility(order)"
                    />
                  </td>
                  <td :class="'address_' + order.id" class="or">
                    {{ order.shipAddr }}
                  </td>
                  <td>
                    <input
                      type="checkbox"
                      :id="'route_' + order.id"
                      @change="checkRoute(order)"
                    />
                  </td>
                  <!-- START [032403Tree] add button assign order for drivers -->
                  <td class="btn-assign">
                    <button
                      v-if="!order?.driverName"
                      type="button"
                      @click="openAssignPopup(order)"
                    >
                      assign
                    </button>
                    <div v-else="">
                      <p>{{ order?.driverName }}</p>
                      <button type="button" @click="openAssignPopup(order)">
                        Change
                      </button>
                    </div>
                    <!-- Add the assign popup -->
                    <div
                      v-if="showAssignPopup == order?.id"
                      class="assign-popup"
                    >
                      <p>Select a driver</p>
                      <div class="assign-popup-container">
                        <p>(Search driver can be here)</p>
                        <select
                          v-model="selectedDriver"
                          @change="updateOrderPhoneNumber"
                        >
                          <!-- <select> -->
                          <option
                            v-for="driver in drivers"
                            :key="driver.id"
                            :value="driver.id"
                            :selected="order?.driverName == driver.username"
                          >
                            {{ driver.username }}
                          </option>
                        </select>
                        <button @click="closeAssignPopup">X</button>
                      </div>
                    </div>
                  </td>
                  <!-- END [032403Tree] add button assign order for drivers -->
                </tr>
                <!-- Add more order entries as needed -->
              </tbody>
            </table>
          </div>
          <div class="order-section" v-else-if="role === 'driver'">
            <table>
              <thead>
                <tr>
                  <th>Hide</th>
                  <th>Address</th>
                  <th>Route</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="order in ordersDriver" :key="order.id">
                  <td>
                    <input
                      type="checkbox"
                      v-model="order.isHidden"
                      @change=" toggleMarkerOrderVisibility(order)"
                    />
                  </td>
                  <td>{{ order.shipAddr }}</td>
                  <td>
                    <input
                      type="checkbox"
                      :id="'route_' + order.id"
                      @change="checkRoute(order)"
                    />
                  </td>
                  <!-- START [032403Tree] add button assign order for drivers -->
                  <td class="btn-assign">
                    <button type="button" @click="openAssignPopup(order)">
                      Update
                    </button>
                    <!-- Add the assign popup -->
                    <div
                      v-if="showAssignPopup == order?.id"
                      class="assign-popup"
                    >
                      <p>Update</p>
                      <form class="form-update-order">
                        <button @click="closeAssignPopup">X</button>
                        <p>
                          Status:
                          <select v-model="selectedStatusOrder">
                            <option value="completed">Complete</option>
                            <option value="on-hold">On Hold</option>
                            <option value="refunded">Refund</option>
                            <option value="cancelled">Cancel</option>
                            <option value="failed">Fail</option>
                          </select>
                        </p>
                        <p>
                          Note:
                          <input
                            type="text"
                            id="form-order-note"
                            v-model="deliveryNotes"
                          />
                        </p>
                        <input
                          class="btn-save-update-order"
                          type="button"
                          value="Save"
                          @click="updateOrderByDriver(order)"
                        />
                      </form>
                    </div>
                  </td>
                  <!-- END [032403Tree] add button assign order for drivers -->
                </tr>
                <tr>
                  <td></td>
                  <td><p>Route All:</p></td>
                  <td>
                    <input
                      type="checkbox"
                      id="routeAllCheckbox"
                      @change="checkRouteAll()"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <a href="login.html" class="logout-link">Logout</a>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script
    src="https://cdn.socket.io/4.7.4/socket.io.min.js"
    integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
    crossorigin="anonymous"
  ></script>
  <script src="./js/main.js"></script>
  <script>
    // navigator.geolocation.watchPosition(
    //   function (position) {
    //     var lng = position.coords.longitude;
    //     var lat = position.coords.latitude;

    //     // Update user's location on the map
    //     updateLocation(lng, lat);

    //     // Emit location event to the server
    //     socket.emit("location", { lng: lng, lat: lat });
    //   },
    //   function (error) {
    //     console.log("Error: " + error.message);
    //   },
    //   {
    //     enableHighAccuracy: true,
    //   }
    // );

    // function updateLocation(lng, lat) {
    //   var map = new mapboxgl.Map({
    //     container: "map",
    //     style: "mapbox://styles/mapbox/streets-v11",
    //     center: [lng, lat],
    //     zoom: 12,
    //   });

    //   var marker = new mapboxgl.Marker().setLngLat([lng, lat]).addTo(map);
    // }

    // // Lắng nghe sự kiện 'updateLocation' từ máy chủ để cập nhật vị trí người dùng trên bản đồ
    // socket.on("updateLocation", function (data) {
    //   var lng = data.lng;
    //   var lat = data.lat;

    //   updateLocation(lng, lat);
    // });
  </script>
</html>
